{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Tanner Marsh</title>
        <link href="https://fonts.googleapis.com/css?family=Questrial|Righteous" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'portfolio/project.css' %}">
    </head>
    <body>
        <div id="main-container" class="d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header>
                <div id="title">Tanner Marsh</div>
                <nav class="nav">
                    <a href="{% url 'index' %}" class="nav-link">About</a>
                    <a href="{% url 'project1' %}" class="nav-link">Project 1</a>
                    <a href="{% url 'project2' %}" class="nav-link">Project 2</a>
                    <a href="{% url 'project3' %}" class="nav-link">Project 3</a>
                </nav>
            </header>

            <main>
                {% block main %}
                {% endblock %}
            </main>

            <footer class="mt-auto">
                {% block source %}
                <p>
                    Check out the source
                    <a href="{% block source_link %}#{% endblock %}">here</a>
                </p>
                {% endblock %}
            </footer>

        </div>
    </body>
</html>
