{% extends "portfolio/project_base.html" %}

{% block main %}
    <div id="main-title">Project 1</div>
    <p id="main-description">
      Project 1 is an application that enables users to review books. Users can search
      for books in the database by title, author or ISBN. They may then leave a review,
      read reviews from other Project 1 users, and even see how the book is rated on
      Goodreads. Finally, Project 1 provides an API that allows users to access basic information
      about a book (title, author, year of publication) by providing an ISBN, as well as access
      information about that book's reviews (number of reviews, average score) on Project 1.
    </p>
    <a href="http://project1.tannerjmarsh.com" id="main-button" class="btn btn-lg">Launch</a>
{% endblock %}

{% block source_link %}
    https://github.com/letortoise/project1
{% endblock %}
